*/mysql-data
*/post*
*/sonarqube*
*/data
*/init-data
jenkins/docker
*/jenkins
filebrowser/filebrowser.db
fresh-rss/config
jellyfin/config
jellyfin/cache
homarr/homarr/data
photoprism/database
photoprism/storage
nginx-proxy-manager/data
nginx-proxy-manager/letsencrypt
homepage/config
file-browser/filebrowser.db
dockge/data/dockge.db
guacamole/data
guacamole/drive
guacamole/record
monitor/grafana-db
monitor/prometheus-db

kafka-kafka-manager/kafka
kafka-kafka-manager/zookeeper
